<html>
<head>
    @using Ideo.Models

    @{
        ViewBag.Title = "Index";
    }

    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>
<body>
    <h2>Index</h2>

    <div class="tree">
        <ul id="root">
        </ul>
    </div>

    <script src="~/Scripts/treeView.js"></script>

</body>
</html>

